* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body {
	margin:0;
	padding:0;
	height:100%;
	font-size:100%;
	font-family: Arial, sans-serif;
	}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -70px 0 0 -260px;
	width: 520px;
	height: 140px;
	}
h1 {
	text-align: center;
	padding-bottom: 30px;
	}
a {
	float:left; 
	display:block;
	text-indent: -9999px;
	width: 57px;
	height: 57px;
	margin: 0 8px;
	background-image: url(../images/icons_sprite.png);
	background-repeat: no-repeat;
	}
a.twitter {
	background-position: -225px -57px;
	}
a.twitter:hover {
	background-position: -225px -0;
	}
a.behance { 
	background-position: -56px -57px;
	}
a.behance:hover {
	background-position: -56px -0;
	}
a.vimeo {
	background-position: -112px -57px;
	}
a.vimeo:hover {
	background-position: -112px -0;
	}
a.tumblr {
	background-position: -281px -57px;
	}
a.tumblr:hover {
	background-position: -281px -0;
	}
a.lastfm {
	background-position: -0px -57px;
	}
a.lastfm:hover {
	background-position: -0px -0;
	}
a.goldenline {
	background-position: -451px -57px;
	}
a.goldenline:hover {
	background-position: -451px -0;
	}
a.github {
	background-position: -394px -57px;
	}
a.github:hover {
	background-position: -394px -0;
	}
@media only screen and (max-width: 520px) {
 	.container {
		width: 280px;
		height: 280px;
		margin-left: -140px;
		margin-top: -140px;
        }
	h1 {
		width: 100%;
	}
	h1 img {
		width: 100%;
	}
	a {
		margin: 0 10px 10px 20px;
	}
}
